.nav {
  display: flex;
  font-size: 14px;
  align-items: center;
}

.nav li {
  margin-right: 14px;
}

.nav li a {
  margin-right: 10px;
  text-decoration: none;
}

input.search {
  width: 150px;
  border-bottom: 1px solid white;
  background-color: black;
  /* background: transparent url("/assets/search.svg") no-repeat 13px; */
}

.search {
  background-color: black;
  color: white;
  border: none;
  outline: none;
  margin-right: 30px;
  margin-left: auto;
}

.search input[type="text"]:focus {
  outline: none;
}
